// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#letters {
  display: inline;
  background-color: #05a19c;
  color: white;
  font-size: 32px;
  padding: 10px 10px;
  border: 1px solid black;
}

